/* 
 * [x] TODO :: Add and load `Vazir` and `Source Code Pro` fonts
 *
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  text-align: right;
}

code {
  direction: ltr;
  text-align: left;
  font-family: "Source Code Pro";
}

.container {
    /* margin: 5% 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* width: 100%; */
    gap: 5rem;
    border: 1px solid red;
}

 
#quiz {
    border: 1px solid blue;
    padding: 10px;
    width: 650px;
    height: 450px;

}

.question-code {
  direction: ltr;
  text-align: left;
  border: 1px solid green;
}

.option {
  border: 1px solid red;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.option input[type="radio"] {
    margin-left: 10px;
}

.result {
    border: 1px solid black;
    min-height: 100px;
}
